{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class = 'username'>
        <h2>Hello, {{username}} &#128075;<h2>
    </div>
    <div class = 'body'>
        <h5>Current Balance : ${{current_balance}}<h5>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Shares Owned</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Current Stock Holding</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in row %}
            <tr>
                <td>{{ entry['stock'].upper() }}</td>
                <td>{{ entry['shares'] }}</td>
                <td>{{ entry['price'] | round(2) }}</td>
                <td>{{ (entry['price'] * entry['shares']) | round(2) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Grand Total: {{ networth | round(2) }}</td>
                <td>Grand Holding: {{ (networth + current_balance) | round(2) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
